aiohttp==3.7.4.post0
aiohttp-jwt==0.6.1
async-timeout==3.0.1
attrs==21.4.0
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
DateTime==4.3
idna==3.3
jsonschema==3.2.0
multidict==6.0.2
nest-asyncio==1.5.1
ocpp==0.10.0
PyJWT==1.7.1
pyrsistent==0.18.1
pytz==2022.1
requests==2.27.1
six==1.16.0
typing==3.7.4.3
typing_extensions==4.2.0
urllib3==1.26.9
websockets==10.0
yarl==1.7.2
zope.interface==5.4.0
python-dotenv==0.20.0
